html,
body,
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e5e5e5;
}
header img {
  width: 30px;
}
header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  width: 70%;
  padding: 30px;
}
.edit-profile {
  background-image: url(./imagens/imagem-background-edit-profile\ 3.png);
  margin: 20px;
  width: 84%;
}
main a {
  text-decoration: none;
  color: #0275b1;
  font-weight: bold;
}
.edit-profile {
  background-image: url(./imagens/imagem-background-edit-profile\ 3.png);
  margin: 20px;
  width: 80%;
}

.profile-info {
  background-color: #ffffff;
  width: 80%;
}
.buttons {
  margin: 20px;
}
.about {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  width: 80%;
}
.projets {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 80%;
}
.up-projects,
.middle-projects,
.bottom-projects {
  display: flex;
  flex-direction: row;
}
.skills-endoresments {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 80%;
}
.middle-skills {
  display: flex;
  flex-direction: row;
}
.experience {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  width: 80%;
}
.education {
  background-color: #ffffff;
  margin: 20px;
  padding: 30px;
  width: 80%;
}
aside {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 30%;
}

.your-dashboard {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
}
.card-your-dashboard span {
  font-weight: bold;
  font-size: 50px;
  color: #0275b1;
}
.visitors {
  background-color: #fcfdfd;
  margin: 20px;
  padding: 20px;
}
.card-visitors {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.text-visitors h5 {
  font-size: 14px;
}
.card-visitors img {
  margin: 10px 10px 10px 0;
}
.you-may-like {
  background-color: #fcfdfd;
  margin: 20px;
  padding: 20px;
}
.you-may-like a{
    color: #0275b1;
    text-decoration: none;
}
.card-you-my-like{
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 0;
}
.card-you-my-like a {
    color: black;
    text-decoration: none;
}
.text-you-may-like{
    margin-left: 10px;
}
.text-you-may-like h5{
    font-size: 14px;
    font-weight: bold;
}
.text-you-may-like small{
    font-size: 10px;
}
.video-you-may-like img{
    position: relative;
}
.video-you-may-like i{
    color: #0275b1;
    font-size: 30px;
    position: absolute;
}
footer {
  align-items: center;
  background-color: #f7f9fb;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  padding: 3%;
  width: 94%;
}
footer a {
  text-decoration: none;
  color: black;
}
/*footer nav ul {
  display: flex;
  justify-content: space-around;
}*/
footer ul {
  display: flex;
  flex-wrap: wrap;
}
