html,
body,
* {
  margin: 0;
  padding: 0;
}
aside,
body {
  background-color: #e5e5e5;
}
hr{
  color: #f4f4f4;
}
header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}
header a {
  text-decoration: none;
  color: black;
}
.icon-header i {
  font-size: 30px;
}
.icon-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 50px;
}

.search i {
  color: #0275b1;
  font-size: 30px;
}
#search {
  width: 200px;
  padding: 8px;
  border-style: none;
}
.avatar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-avatar,
.up-avatar,
.bottom-avatar {
  margin: 5px;
}
.name-avatar,
.viwers-avatar {
  margin-right: 5px;
}
.name-avatar {
  font-weight: bold;
}
.you-avatar {
  color: #b7b7b7;
}
.viwers-avatar {
  color: #747474;
}
.nunber-viewers {
  color: #02b033;
}
.other {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.other i {
  font-size: 25px;
  margin-bottom: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

main a {
  text-decoration: none;
  color: #0275b1;
  font-weight: bold;
  font-size: 12px;
}
.profile-image {
  background-image: url(./imagens/imagem-background-edit-profile\ 3.png);
  padding: 30px;
  margin: 0px 20px 0px 20px;
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: space-between;
}
.upload,
.menu-button {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 5px;
}
.edit-button {
  width: 132px;
  height: 36px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 5px;
}
.profile-info {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  margin: 0px 20px 20px 20px;
  padding: 30px;
  width: 90%;
  height: 50%;
}
.photo-profile {
  width: 30%;
}
.photo-profile img {
  width: 170px;
  height: 170px;
  margin-top: -50px;
}
.name-address {
  display: flex;
  flex-direction: row;
}
address {
  margin-left: 10px;
}
.name-address i {
  color: #0275b1;
}
.name-address h3 {
  margin-right: 50px;
}
.right-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: end;
}
.buttons-profile {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 10px;
}
.buttons-profile button {
  width: 170px;
  height: 32px;
  margin-right: 15px;
}
.contact-info {
  background-color: #0275b1;
  color: white;
  border-radius: 5px;
  border-style: none;
}
.connections {
  background-color: #ffffff;
  border-style: solid;
  border-color: #0275b1;
  border-width: 0.5px;
  border-radius: 5px;
  color: #0275b1;
}
.buttons-about {
  margin: 100px 20px 0px 18px;
}
.profile,
.activity,
.articles {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #e7e7e7;
  font-weight: bold;
  margin-right: -5px;
}
.buttons-about button:hover{
  background-color: #0275b1;
  color: white;
  width: 205px;
  height: 50px;
}
.about {
  background-color: #ffffff;
  margin: 0px 20px 20px 20px;
  padding: 30px;
  width: 90%;
}
.projets {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  width: 90%;
  justify-content: space-between;
  height: 280px;
}
.up-projects,
.middle-projects,
.bottom-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.up-projects span{
  margin-left: 10px;
  color: #747474;
}
.middle-projects{
  display: flex;
  justify-content: space-between;
}
.card-projects{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.card-projects h4{
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-projects small{
  font-size: 10px;
  color: #747474;
}
.image-projects {
  width: 90%;
}
.skills-endoresments {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  width: 90%;
}
.middle-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-color: #f4f4f4;
  border-style: solid;
  border-radius: 5%;
  border-width: 2px;
  margin: 10px;
  padding: 0px 10px 10px 10px;
  width: 200px;
}
.card-skills img {
  width: 115px;
  margin-top: 5px;
}
.up-card-skills {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 5px;
}
.up-card-skills h4 {
  font-size: 14px;
  margin-right: 50px;
}
.up-card-skills span {
  color: #0275b1;
  font-weight: bold;
}
.experience {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 20px 20px 20px;
  padding: 30px;
  width: 90%;
  height: 250px;
}
.top-expereience, 
.bottom-expereience{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-experience{
  display: flex;
  flex-direction: column;
}
.text-experience h4{
  font-size: 14px;
}
.text-experience{
  font-size: 10px;
}
.image-experience img{
  width: 60px;
}
.paragraph-1, .paragraph-2{
  display: flex;
  flex-direction: row;

}
.line-1, .line-2{
  display: flex;
  justify-content:start;
}
.line-1 .span-1{
  margin-right: 15px; 
}
.line-1 .span-2{
  color: #747474;
}
.line-2 .span-1{
  margin-right: 15px;
  color: #747474;
}
.line-2 .span-2{
  color: #0275b1;
  font-weight: bold;
}
/* .card-experience{
  display: flex;
  flex-direction: row;
  height: 50%;
}
.card-experience img{
  width: 70px;
}
.experience-tex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  height: 100%;
} */
.education {
  background-color: #ffffff;
  margin: 20px;
  padding: 30px;
  width: 90%;
}
.education-block{
  display: flex;
  flex-direction: row;
}
.education-block img{
  width: 75px;
}
.text-education{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
aside {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 30%;
  font-family: 'Roboto', sans-serif;
}
aside a{
  text-decoration: none;
  color: #0275b1;
  font-weight: bold;
}
aside hr{
  color: #f4f4f4;
}
.your-dashboard {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 5px;
  padding: 20px;
}
.dashboard-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}
.card-your-dashboard span {
  font-weight: bold;
  font-size: 50px;
  color: #0275b1;
}
.visitors {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 5px;
  padding: 20px;
}
.visitors-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}
.card-visitors {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.text-visitors h5 {
  font-size: 14px;
}
.card-visitors img {
  margin: 10px 10px 10px 0;
}
.you-may-like {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 5px;
  padding: 20px;
}
.all-recomedations{
  font-size: 12px;
}
.card-you-my-like {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 0;
}
.card-you-my-like a {
  color: black;
  text-decoration: none;
}
.text-you-may-like {
  margin-left: 10px;
}
.text-you-may-like h5 {
  font-size: 14px;
  font-weight: bold;
}
.text-you-may-like small {
  font-size: 10px;
}
.video-you-may-like img {
  position: relative;
}
.video-you-may-like i {
  color: #0275b1;
  font-size: 30px;
  position: absolute;
  margin-left: -53px;
  margin-top: 10px;
}
footer {
  align-items: center;
  background-color: #f7f9fb;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  padding: 3%;
  width: 94%;
  font-family: 'Roboto', sans-serif;
}
.logo-linkedin{
  height: 100px;
}
.logo-linkedin p{
  font-weight: bold;
}
.logo-linkedin span{
  color: #0275b1;
}
.navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.navigation a {
  text-decoration: none;
  color: #181818;
}
.navigation-title h5{
  margin-bottom: 20px;
  font-size: 12px;
}
.navigation-list{
  width: 400px;
}
.navigation-list nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-list ul{
  list-style: none;
}
.button-fast{
  height: 100px;
}
.button-fast h5{
  margin-bottom: 20px;
  font-size: 12px;
}
.button-fast button {
  align-items: center;
  background-color: #0275b1;
  border: 3px solid #0275b1;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  height: 32px;
  justify-content: space-between;
  margin: 5px;
  top: 69px;
  width: 170px;
  padding: 10px;
}
button:hover {
  border-style: solid;
  border: #747474;
}
button {
  cursor: pointer;
}
.language{
  height: 100px;
}
.language h5{
  margin-bottom: 20px;
  font-size: 12px;
}
.language select {
  background-color: #ffffff;
  width: 270px;
  height: 32px;
  padding: 0 10px;
  border-radius: 4px;
}

#language {
  cursor: pointer;
}
